mean-wizards-v2 server
[{"id":"202ffff1.7f16f","type":"ibmiot in","z":"6cfaa286.324c7c","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"arduino-1","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT Device","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":100,"y":27,"wires":[["f52caa47.a94558","70eccf36.d4cf1","38837e56.160502","5a26e719.b44938","5caf2a7f.235434","423ff959.dd4fd8"]]},{"id":"e708c32d.839d6","type":"websocket out","z":"6cfaa286.324c7c","name":"","server":"57a46e0a.268dd","client":"","x":750,"y":87,"wires":[]},{"id":"7990b197.33d19","type":"http in","z":"6cfaa286.324c7c","name":"","url":"/api/getdata","method":"get","swaggerDoc":"","x":86,"y":215,"wires":[["972ed1d6.09fa4"]]},{"id":"68dd17d9.1148f8","type":"http response","z":"6cfaa286.324c7c","name":"","x":681,"y":218,"wires":[]},{"id":"972ed1d6.09fa4","type":"function","z":"6cfaa286.324c7c","name":"query","func":"msg.limit=parseInt(msg.payload.limit);\nloc=parseFloat(msg.payload.loc);\nmsg.payload={\"d_id\": loc, limit: msg.limit};\n\nreturn msg;","outputs":1,"noerr":0,"x":248,"y":217,"wires":[["4c1806a0.c261d8"]]},{"id":"ddac518f.cb232","type":"function","z":"6cfaa286.324c7c","name":"timestamp","func":"//Timestamp\nvar d = new Date();\noffset = 5.5;\nutc = d.getTime() + (d.getTimezoneOffset() * 60000);\nvar now = new Date(utc + (3600000*offset));\n\n//var now     = new Date(new Date().toLocaleString(\"en-US\", {timeZone: 'Asia/Kolkata'})); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \n//var day     = now.getDate();\nvar day = Math.random() * (31 - 1) + 1;\n//var hour    = now.getHours();\nvar hour = Math.random() * (24 - 1) + 1;\n\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nmonth = '0'+month;\n}\nif(day.toString().length == 1) {\nday = '0'+day;\n}   \nif(hour.toString().length == 1) {\nhour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nminute = '0'+minute;\n}\nif(second.toString().length == 1) {\nsecond = '0'+second;\n}   \n\n//msg.payload.timestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\nmsg.payload.timestampML = new Date();\nmsg.payload.timestamp = {\"year\":parseInt(year), \"month\":parseInt(month), \"day\":parseInt(day), \"hour\":parseInt(hour), \"minute\":parseInt(minute), \"second\":parseInt(second)};\n\nreturn msg;   \n","outputs":1,"noerr":0,"x":560,"y":28,"wires":[["e708c32d.839d6"]]},{"id":"4e281118.6ab24","type":"function","z":"6cfaa286.324c7c","name":"aqi","func":"var CObr=[0, 1.0, 2.0, 10, 17, 34, 49];\nvar SO2br=[0, 40, 80, 380, 800, 1600, 2400];\nvar PM25br=[0, 30, 60, 90, 120, 250, 350.4];\nvar NO2br=[0, 40, 80, 180, 280, 400, 540];\n \nvar AQI=[0, 50, 100, 200, 300, 400, 500];\n \n// CALCULATING CO AQI\nco=msg.payload.co;\ncoAQI=0;\ni=0;\nwhile(i<6) {\n                if( co>CObr[i] && co<=CObr[i+1]) {\n                                coAQI= ( ( AQI[i+1]-AQI[i] ) * ( co - CObr[i] ) / ( CObr[i+1] - CObr[i] ) ) + AQI[i];\n                                break;\n                }\n                else {\n                                i++;\n                }\n}\n \n// CALCULATING SO2 AQI\nso2=msg.payload.so2;\nso2AQI=0;\ni=0;\nwhile(i<6) {\n                if( so2>SO2br[i] && so2<=SO2br[i+1]) {\n                                so2AQI= ( ( AQI[i+1]-AQI[i] ) * ( so2 - SO2br[i] ) / ( SO2br[i+1] - SO2br[i] ) ) + AQI[i];\n                                break;\n                }\n                else {\n                                i++;\n                }\n}\n \n// CALCULATING PM2.5 AQI\nPM25=msg.payload.pm25;\nPM25AQI=0;\ni=0;\nwhile(i<=6) {\n                if( PM25>PM25br[i] && PM25<=PM25br[i+1]) {\n                                PM25AQI= ( ( AQI[i+1]-AQI[i] ) * ( PM25 - PM25br[i] ) / ( PM25br[i+1] - PM25br[i] ) ) + AQI[i];\n                                break;\n                }\n                else {\n                                i++;\n                }\n}\n \n// CALCULATING NO2 AQI\nno2=msg.payload.no2;\nNO2AQI=0;\ni=0;\nwhile(i<=6) {\n                if( no2>NO2br[i] && no2<=NO2br[i+1]) {\n                                NO2AQI= ( ( AQI[i+1]-AQI[i] ) * ( no2 - NO2br[i] ) / ( NO2br[i+1] - NO2br[i] ) ) + AQI[i];\n                                break;\n                }\n                else {\n                                i++;\n                }\n}\n\nmsg.payload.aqi = parseFloat(Math.max(coAQI, PM25AQI, so2AQI, NO2AQI).toFixed(2));\n\nreturn msg;","outputs":1,"noerr":0,"x":489,"y":122,"wires":[["ddac518f.cb232"]]},{"id":"1b915b54.071565","type":"http in","z":"6cfaa286.324c7c","name":"","url":"/api/daily","method":"get","swaggerDoc":"","x":75,"y":261,"wires":[["4ca05100.e8342"]]},{"id":"4ca05100.e8342","type":"function","z":"6cfaa286.324c7c","name":"query","func":"day=parseInt(msg.payload.day);\nmonth=parseInt(msg.payload.month);\nyear=parseInt(msg.payload.year);\nloc=parseFloat(msg.payload.loc);\nmsg.payload={\"d_id\": loc, \"year\": year, \"month\": month, \"day\": day, limit: 0};\n\nreturn msg;","outputs":1,"noerr":0,"x":234,"y":262,"wires":[["ba72feff.989f8"]]},{"id":"f977ed0c.e8af5","type":"http response","z":"6cfaa286.324c7c","name":"","x":679,"y":263,"wires":[]},{"id":"b459bc4d.0e859","type":"http in","z":"6cfaa286.324c7c","name":"","url":"/api/weekly","method":"get","swaggerDoc":"","x":86,"y":307,"wires":[["355c90c5.5a8cd"]]},{"id":"355c90c5.5a8cd","type":"function","z":"6cfaa286.324c7c","name":"query","func":"week=parseInt(msg.payload.week);\nmonth=parseInt(msg.payload.month);\nyear=parseInt(msg.payload.year);\nstart=(week-1)*7+1;\nend=week*7;\n    \nloc=parseFloat(msg.payload.loc);\n\nmsg.payload={\"d_id\": loc,\"year\": year,\"month\": month,$and :[{\"day\": { $gte : start }},{\"day\": { $lte : end }}], limit: 0};\n\nreturn msg;","outputs":1,"noerr":0,"x":246,"y":307,"wires":[["4f910b47.d029e4"]]},{"id":"a08714ec.f7cd98","type":"http response","z":"6cfaa286.324c7c","name":"","x":690,"y":309,"wires":[]},{"id":"f4a2a395.7a20d","type":"http in","z":"6cfaa286.324c7c","name":"","url":"/api/monthly","method":"get","swaggerDoc":"","x":86,"y":349,"wires":[["4bb54d7.507b9b4"]]},{"id":"776dda6f.dd6044","type":"http response","z":"6cfaa286.324c7c","name":"","x":694,"y":351,"wires":[]},{"id":"bcdf2aef.9bb178","type":"function","z":"6cfaa286.324c7c","name":"logic","func":"data=msg.payload;\nvar hourlyData=[];\nhourlyData.length=24;\nhourlyAverage=[];\nhourlyAverage.length=24;\n\nfor(var i=0;i<data.length;i++) {\n    if(!hourlyData[parseInt(data[i].timestamp.hour)-1]) {\n        hourlyData[parseInt(data[i].timestamp.hour)-1]=[];\n    }\n    hourlyData[parseInt(data[i].timestamp.hour)-1].push(data[i]);\n}\n\n\nfor(var i=0;i<hourlyData.length;i++) {\n    var t=0,h=0,co=0,co2=0,pm25=0,so2=0,no2=0,aqi=0;\n    hourlyAverage[i]={};\n    if(Array.isArray(hourlyData[i])) {\n        for(var j=0;j<hourlyData[i].length;j++) {\n            t+=hourlyData[i][j].t;\n            h+=hourlyData[i][j].h;\n            co+=hourlyData[i][j].co;\n            co2+=hourlyData[i][j].co2;\n            pm25+=hourlyData[i][j].pm25;\n            so2+=hourlyData[i][j].so2;\n            no2+=hourlyData[i][j].no2;\n            aqi+=hourlyData[i][j].aqi;\n        }\n        hourlyAverage[i].t=(t/hourlyData[i].length).toFixed(2);\n        hourlyAverage[i].h=(h/hourlyData[i].length).toFixed(2);\n        hourlyAverage[i].co=(co/hourlyData[i].length).toFixed(2);\n        hourlyAverage[i].co2=(co2/hourlyData[i].length).toFixed(2);\n        hourlyAverage[i].pm25=(pm25/hourlyData[i].length).toFixed(2);\n        hourlyAverage[i].so2=(so2/hourlyData[i].length).toFixed(2);\n        hourlyAverage[i].no2=(no2/hourlyData[i].length).toFixed(2);\n        hourlyAverage[i].aqi=(aqi/hourlyData[i].length).toFixed(2);\n\n    }\n}\n\nhourlyData=[];\nmsg.payload=hourlyAverage;\nhourlyAverage=[];\n\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":262,"wires":[["f977ed0c.e8af5"]]},{"id":"39478ff0.01d33","type":"function","z":"6cfaa286.324c7c","name":"logic","func":"data=msg.payload;\nvar dailyData=[];\ndailyData.length=7;\ndailyAverage=[];\ndailyAverage.length=7;\n\nfor(var i=0;i<data.length;i++) {\n    if(!dailyData[parseInt(data[i].timestamp.day/7)-1]) {\n        dailyData[parseInt(data[i].timestamp.day/7)-1]=[];\n    }\n    dailyData[parseInt(data[i].timestamp.day/7)-1].push(data[i]);\n}\n\n\nfor(var i=0;i<dailyData.length;i++) {\n    var t=0,h=0,co=0,co2=0,pm25=0,so2=0,no2=0,aqi=0;\n    dailyAverage[i]={};\n    if(Array.isArray(dailyData[i])) {\n        for(var j=0;j<dailyData[i].length;j++) {\n            t+=dailyData[i][j].t;\n            h+=dailyData[i][j].h;\n            co+=dailyData[i][j].co;\n            co2+=dailyData[i][j].co2;\n            pm25+=dailyData[i][j].pm25;\n            so2+=dailyData[i][j].so2;\n            no2+=dailyData[i][j].no2;\n            aqi+=dailyData[i][j].aqi;\n        }\n        dailyAverage[i].t=(t/dailyData[i].length).toFixed(2);\n        dailyAverage[i].h=(h/dailyData[i].length).toFixed(2);\n        dailyAverage[i].co=(co/dailyData[i].length).toFixed(2);\n        dailyAverage[i].co2=(co2/dailyData[i].length).toFixed(2);\n        dailyAverage[i].pm25=(pm25/dailyData[i].length).toFixed(2);\n        dailyAverage[i].so2=(so2/dailyData[i].length).toFixed(2);\n        dailyAverage[i].no2=(no2/dailyData[i].length).toFixed(2);\n        dailyAverage[i].aqi=(aqi/dailyData[i].length).toFixed(2);\n    }\n}\n\ndailyData=[];\nmsg.payload=dailyAverage;\ndailyAverage=[];\n\nreturn msg;","outputs":1,"noerr":0,"x":536,"y":308,"wires":[["a08714ec.f7cd98"]]},{"id":"4bb54d7.507b9b4","type":"function","z":"6cfaa286.324c7c","name":"query","func":"month=parseInt(msg.payload.month);\nyear=parseInt(msg.payload.year);\nloc=parseFloat(msg.payload.loc);\n\nmsg.payload={\"d_id\": loc, \"year\": year, \"month\": month, limit: 0};\n\nreturn msg;","outputs":1,"noerr":0,"x":249,"y":349,"wires":[["8953ba13.e16338"]]},{"id":"a18ab69b.758378","type":"function","z":"6cfaa286.324c7c","name":"logic","func":"data=msg.payload;\nvar dailyData=[];\nvar dailyAverage=[];\ndailyData.length=31;\ndailyAverage.length=31;\n\n/*\nvar noOfDays=0;\nvar month=0;\nvar year=0;\n\nif(data.length>0) {\n    month=data[0].timestamp.month;\n    year=data[0].timestamp.year;\n}\n\nif(month==1 || month==3 || month==5 || month==7 || month==8 || month==10 || month==12) {\n    noOfDays=31;\n}\n\nelse if(month==4 || month==6 || month==9 || month==11) {\n    noOfDays=30;\n}\n\nelse if(month==2 && year%4===0) {\n    noOfDays=29;\n}\n\nelse if(month==2 && year%4!==0){\n    noOfDays=28;\n}\n\nvar weeklyData=[];\nvar weeklyAverage=[];\n\nif(noOfDays==28) {\n    weeklyData.length=4;\n    weeklyAverage.length=4;\n}\nelse {\n    weeklyData.length=5;\n    weeklyAverage.length=5;\n}\n*/\n\nfor(var i=0;i<data.length;i++) {\n    if(!dailyData[parseInt(data[i].timestamp.day)]) {\n        dailyData[parseInt(data[i].timestamp.day)]=[];\n    }\n    dailyData[parseInt(data[i].timestamp.day)].push(data[i]);\n}\n\n\nfor(var i=0;i<dailyData.length;i++) {\n    var t=0,h=0,co=0,co2=0,pm25=0,so2=0,no2=0,aqi=0;\n    dailyAverage[i]={};\n    if(Array.isArray(dailyData[i])) {\n        for(var j=0;j<dailyData[i].length;j++) {\n            t+=dailyData[i][j].t;\n            h+=dailyData[i][j].h;\n            co+=dailyData[i][j].co;\n            co2+=dailyData[i][j].co2;\n            pm25+=dailyData[i][j].pm25;\n            so2+=dailyData[i][j].so2;\n            no2+=dailyData[i][j].no2;\n            aqi+=dailyData[i][j].aqi;\n        }\n        dailyAverage[i].t=(t/dailyData[i].length).toFixed(2);\n        dailyAverage[i].h=(h/dailyData[i].length).toFixed(2);\n        dailyAverage[i].co=(co/dailyData[i].length).toFixed(2);\n        dailyAverage[i].co2=(co2/dailyData[i].length).toFixed(2);\n        dailyAverage[i].pm25=(pm25/dailyData[i].length).toFixed(2);\n        dailyAverage[i].so2=(so2/dailyData[i].length).toFixed(2);\n        dailyAverage[i].no2=(no2/dailyData[i].length).toFixed(2);\n        dailyAverage[i].aqi=(aqi/dailyData[i].length).toFixed(2);\n    }\n}\n\ndailyData=[];\nmsg.payload=dailyAverage;\ndailyAverage=[];\n\nreturn msg;","outputs":1,"noerr":0,"x":538,"y":350,"wires":[["776dda6f.dd6044"]]},{"id":"975a6604.9e29b8","type":"http in","z":"6cfaa286.324c7c","name":"","url":"/api/routes","method":"get","swaggerDoc":"","x":85,"y":402,"wires":[["d63a19c7.1d6158"]]},{"id":"1d67bb1f.41aba5","type":"http response","z":"6cfaa286.324c7c","name":"","x":696,"y":402,"wires":[]},{"id":"d63a19c7.1d6158","type":"function","z":"6cfaa286.324c7c","name":"query","func":"/*\n//Timestamp\nvar d = new Date();\noffset = 5.5;\nutc = d.getTime() + (d.getTimezoneOffset() * 60000);\nvar now = new Date(utc + (3600000*offset));\n\n//var now     = new Date(new Date().toLocaleString(\"en-US\", {timeZone: 'Asia/Kolkata'})); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds()-1; \nif(month.toString().length == 1) {\nmonth = '0'+month;\n}\nif(day.toString().length == 1) {\nday = '0'+day;\n}   \nif(hour.toString().length == 1) {\nhour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nminute = '0'+minute;\n}\nif(second.toString().length == 1) {\nsecond = '0'+second;\n}   \n*/\n//loc=parseFloat(msg.payload.loc);\n\n//msg.payload={\"d_id\":loc,\"timestamp.year\":parseInt(year),\"timestamp.month\":parseInt(month),\"timestamp.day\":parseInt(day),\"timestamp.hour\":parseInt(hour),\"timestamp.minute\":parseInt(minute),\"timestamp.second\":parseInt(second)};\nmsg.payload={limit: 5};\n\n//msg.limit=5;\n\nreturn msg;","outputs":1,"noerr":0,"x":248,"y":402,"wires":[["a910f767.aa6ae8"]]},{"id":"aae689e6.9f3ea8","type":"function","z":"6cfaa286.324c7c","name":"logic","func":"data=msg.payload;\nroutesAqi=[];\nroutesAqi.length=3;\nroutesAqiAverage=[];\nroutesAqiAverage.length=3;\n\nfor(var i=0;i<data.length;i++) {\n    if(!routesAqi[parseInt(data[i].d_id)-1]) {\n        routesAqi[parseInt(data[i].d_id)-1]=[];\n    }\n    routesAqi[parseInt(data[i].d_id)-1].push(data[i]);\n}\n\nfor(var i=0;i<routesAqi.length;i++) {\n    var aqi=0;\n    routesAqiAverage[i]={};\n    if(Array.isArray(routesAqi[i])) {\n        for(var j=0;j<routesAqi[i].length;j++) {\n            aqi+=routesAqi[i][j].aqi;\n        }\n        routesAqiAverage[i].aqi=(aqi/routesAqi[i].length).toFixed(2);\n    }\n}\n\nroutesAqi=[];\nmsg.payload=routesAqiAverage;\n\nreturn msg;","outputs":1,"noerr":0,"x":544,"y":402,"wires":[["1d67bb1f.41aba5"]]},{"id":"f52caa47.a94558","type":"function","z":"6cfaa286.324c7c","name":"sim 11 nal stop","func":"t=msg.payload.d.t;\nh=msg.payload.d.h;\npm25=msg.payload.d.pm;\n\n//t=parseFloat(25);\n//h=parseFloat(60);\n//pm25=parseFloat(0);\n\nco=Math.random() * (2.0 - 1.1) + 1.1;\nso2=Math.random() * (60 - 50) + 50;\nno2=Math.random() * (70 - 60) + 60;\nco2=Math.random() * (500 - 400) + 400;\n\nmsg.payload={};\nmsg.payload.d_id=parseFloat(1.1);\nmsg.payload.t=parseFloat(t.toFixed(2));\nmsg.payload.h=parseFloat(h.toFixed(2));\nmsg.payload.pm25=parseFloat(pm25.toFixed(2));\nmsg.payload.co=parseFloat(co.toFixed(2));\nmsg.payload.so2=parseFloat(so2.toFixed(2));\nmsg.payload.no2=parseFloat(no2.toFixed(2));\nmsg.payload.co2=parseFloat(co2.toFixed(2));\n\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":28,"wires":[["4e281118.6ab24"]]},{"id":"70eccf36.d4cf1","type":"function","z":"6cfaa286.324c7c","name":"sim 12 shivajinagar","func":"t=msg.payload.d.t+0.5;\nh=msg.payload.d.h+0.5;\npm25=msg.payload.d.pm;\n\n//t=parseFloat(25);\n//h=parseFloat(60);\n//pm25=parseFloat(0);\n\nco=Math.random() * (13 - 10) + 10;\nso2=Math.random() * (385 - 381) + 381;\nno2=Math.random() * (185 - 181) + 181;\nco2=Math.random() * (500 - 400) + 400;\n\nmsg.payload={};\nmsg.payload.d_id=parseFloat(1.2);\nmsg.payload.t=parseFloat(t.toFixed(2));\nmsg.payload.h=parseFloat(h.toFixed(2));\nmsg.payload.pm25=parseFloat(pm25.toFixed(2));\nmsg.payload.co=parseFloat(co.toFixed(2));\nmsg.payload.so2=parseFloat(so2.toFixed(2));\nmsg.payload.no2=parseFloat(no2.toFixed(2));\nmsg.payload.co2=parseFloat(co2.toFixed(2));\n\nreturn msg;","outputs":1,"noerr":0,"x":304,"y":66,"wires":[["4e281118.6ab24"]]},{"id":"38837e56.160502","type":"function","z":"6cfaa286.324c7c","name":"sim 21 kothrud","func":"t=msg.payload.d.t-0.5;\nh=msg.payload.d.h-0.5;\npm25=msg.payload.d.pm;\n\n//t=parseFloat(25);\n//h=parseFloat(60);\n//pm25=parseFloat(0);\n\nco=Math.random() * (1.0 - 0) + 0;\nso2=Math.random() * (10 - 0) + 0;\nno2=Math.random() * (10 - 0) + 0;\nco2=Math.random() * (500 - 400) + 400;\n\nmsg.payload={};\nmsg.payload.d_id=parseFloat(2.1);\nmsg.payload.t=parseFloat(t.toFixed(2));\nmsg.payload.h=parseFloat(h.toFixed(2));\nmsg.payload.pm25=parseFloat(pm25.toFixed(2));\nmsg.payload.co=parseFloat(co.toFixed(2));\nmsg.payload.so2=parseFloat(so2.toFixed(2));\nmsg.payload.no2=parseFloat(no2.toFixed(2));\nmsg.payload.co2=parseFloat(co2.toFixed(2));\n\nreturn msg;","outputs":1,"noerr":0,"x":293,"y":104,"wires":[["4e281118.6ab24"]]},{"id":"5a26e719.b44938","type":"function","z":"6cfaa286.324c7c","name":"sim 22 katraj","func":"t=msg.payload.d.t+0.7;\nh=msg.payload.d.h+0.7;\npm25=msg.payload.d.pm;\n\n//t=parseFloat(25);\n//h=parseFloat(60);\n//pm25=parseFloat(0);\n\nco=Math.random() * (3.0 - 2.1) + 2.1;\nso2=Math.random() * (90 - 81) + 81;\nno2=Math.random() * (90 - 81) + 81;\nco2=Math.random() * (500 - 400) + 400;\n\nmsg.payload={};\nmsg.payload.d_id=parseFloat(2.2);\nmsg.payload.t=parseFloat(t.toFixed(2));\nmsg.payload.h=parseFloat(h.toFixed(2));\nmsg.payload.pm25=parseFloat(pm25.toFixed(2));\nmsg.payload.co=parseFloat(co.toFixed(2));\nmsg.payload.so2=parseFloat(so2.toFixed(2));\nmsg.payload.no2=parseFloat(no2.toFixed(2));\nmsg.payload.co2=parseFloat(co2.toFixed(2));\n\nreturn msg;","outputs":1,"noerr":0,"x":283,"y":140,"wires":[["4e281118.6ab24"]]},{"id":"5caf2a7f.235434","type":"function","z":"6cfaa286.324c7c","name":"sim 31 pashan","func":"t=msg.payload.d.t-0.7;\nh=msg.payload.d.h-0.7;\npm25=msg.payload.d.pm;\n\n//t=parseFloat(25);\n//h=parseFloat(60);\n//pm25=parseFloat(0);\n\nco=Math.random() * (0.5 - 0) + 0;\nso2=Math.random() * (5 - 0) + 0;\nno2=Math.random() * (5 - 0) + 0;\nco2=Math.random() * (500 - 400) + 400;\n\nmsg.payload={};\nmsg.payload.d_id=parseFloat(3.1);\nmsg.payload.t=parseFloat(t.toFixed(2));\nmsg.payload.h=parseFloat(h.toFixed(2));\nmsg.payload.pm25=parseFloat(pm25.toFixed(2));\nmsg.payload.co=parseFloat(co.toFixed(2));\nmsg.payload.so2=parseFloat(so2.toFixed(2));\nmsg.payload.no2=parseFloat(no2.toFixed(2));\nmsg.payload.co2=parseFloat(co2.toFixed(2));\n\nreturn msg;","outputs":1,"noerr":0,"x":294,"y":175,"wires":[["4e281118.6ab24"]]},{"id":"af627136.9a5a1","type":"http in","z":"6cfaa286.324c7c","name":"","url":"/api/tweet","method":"post","swaggerDoc":"","x":85,"y":452,"wires":[["74726fbf.8b806"]]},{"id":"74726fbf.8b806","type":"function","z":"6cfaa286.324c7c","name":"tweet msg","func":"//msg.payload = {\"d\":{\"username\":\"@MadSaha21\",\"message\":\"#Test\"}};\nhandle = msg.payload.handle;\ntweet = msg.payload.tweet;\n\nmsg.payload = \"@\"+handle+\" \"+tweet;\n\nreturn msg;","outputs":1,"noerr":0,"x":273,"y":452,"wires":[["4664f624.c44238","9f113836.81bf58"]]},{"id":"9f113836.81bf58","type":"twitter out","z":"6cfaa286.324c7c","twitter":"","name":"Tweet","x":466,"y":452,"wires":[]},{"id":"112215ba.f1ae5a","type":"http response","z":"6cfaa286.324c7c","name":"","x":694,"y":495,"wires":[]},{"id":"4664f624.c44238","type":"template","z":"6cfaa286.324c7c","name":"response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Success!","x":474,"y":494,"wires":[["112215ba.f1ae5a"]]},{"id":"4c1806a0.c261d8","type":"cloudant in","z":"6cfaa286.324c7c","name":"database","cloudant":"","database":"air","service":"mean-wizards-v2-cloudantNoSQLDB","search":"_idx_","design":"air","index":"getdata","x":411,"y":219,"wires":[["68dd17d9.1148f8"]]},{"id":"ba72feff.989f8","type":"cloudant in","z":"6cfaa286.324c7c","name":"database","cloudant":"","database":"air","service":"mean-wizards-v2-cloudantNoSQLDB","search":"_idx_","design":"air","index":"daily","x":376,"y":262,"wires":[["bcdf2aef.9bb178"]]},{"id":"4f910b47.d029e4","type":"cloudant in","z":"6cfaa286.324c7c","name":"database","cloudant":"","database":"air","service":"mean-wizards-v2-cloudantNoSQLDB","search":"_idx_","design":"air","index":"weekly","x":383,"y":309,"wires":[["39478ff0.01d33"]]},{"id":"8953ba13.e16338","type":"cloudant in","z":"6cfaa286.324c7c","name":"database","cloudant":"","database":"air","service":"mean-wizards-v2-cloudantNoSQLDB","search":"_idx_","design":"air","index":"monthly","x":386,"y":351,"wires":[["a18ab69b.758378"]]},{"id":"a910f767.aa6ae8","type":"cloudant in","z":"6cfaa286.324c7c","name":"database","cloudant":"","database":"air","service":"mean-wizards-v2-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":388,"y":402,"wires":[["aae689e6.9f3ea8"]]},{"id":"46737064.bc0cd","type":"cloudant out","z":"6cfaa286.324c7c","name":"database","cloudant":"","database":"air","service":"mean-wizards-v2-cloudantNoSQLDB","payonly":true,"operation":"insert","x":750,"y":32,"wires":[]},{"id":"423ff959.dd4fd8","type":"debug","z":"6cfaa286.324c7c","name":"","active":true,"console":"false","complete":"false","x":114,"y":145,"wires":[]},{"id":"57a46e0a.268dd","type":"websocket-listener","z":"6cfaa286.324c7c","path":"/ws/getdata","wholemsg":"false"}]